.App {
  text-align: center;
}

.loading {
  /* background-image: url(../img/loading.png);
  width: 64px;
  height: 64px;
  animation: loading-spin infinite 1s linear;
  height: 40vmin;
  pointer-events: none; */
  /* 
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; */
  background-color: red;
  border: 1px solid black;
  width: 100%;
  height: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/
